<ng-container>
  <div class="container-fluid  vh-100 landingAContainer justify-content-center align-items-center">
    <div class="row h-100 d-flex justify-content-center align-items-center">
      <div class="col-2 landingATitleContainer shadow w-100 h-25 d-flex justify-content-center align-items-center text-center">
        <div class="container">
          <div class="row">
            <div class="col">
              <app-landingtitle></app-landingtitle>
            </div>
          </div>
          <div class="row justify-content-center align-items-center">
            <div class="col text-center justify-content-center align-items-center">
              <app-navbar></app-navbar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
